<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hh.mysdk">

    <application>
        <activity android:name=".TestActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>